$color-primary: #ff7d1a;
$color-primary--light: #ffede0;

$color-neutral--dark: #1d2025;
$color-neutral--grayer: #68707d;
$color-neutral--gray: #b6bcc8;
$color-neutral--lightgray: #f7f8fd;
$color-neutral--white: #ffffff;
$color-neutral--black: #000000;
