.main {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  gap: 8rem;
  padding: 4rem 8rem;
}

/***************QURIES***********************/
/* 1000px */
@media (max-width: 62.5em) {
  .main {
    gap: 4rem;
  }
}

/* 900px */
@media (max-width: 56.25em) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* 650px */
@media (max-width: 40.625em) {
  .main {
    padding: 0;
  }
}
